<h1>Galvanize Classifieds</h1>
<p><a class="btn btn-info" ng-click="$ctrl.isClicked()">Post an Ad</a></p>
<div ng-if="$ctrl.clicked" class="row">
  <div class="col-md-8">
    <form name="newPostForm" ng-submit="$ctrl.newPost()">
      <div>
        <label for="title">Title</label>
        <input ng-model="$ctrl.post.title" id="title" class="form-control" required>
      </div>
      <div>
        <label for="description">Description</label>
        <textarea ng-model="$ctrl.post.description" id="descirption" class="form-control" required></textarea>
      </div>
      <div>
        <label for="price">Price</label>
        <input ng-model="$ctrl.post.price" id="author" class="form-control" required>
      </div>
      <div>
        <label for="image-url">Image URL</label>
        <input ng-model="$ctrl.post.item_image" id="image-url" class="form-control" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="newPostForm.$invalid || newPostForm.$pending">
          Post Ad
        </button>
      </div>
    </form>
  </div>
</div>
<div ng-repeat="post in $ctrl.posts | filter: customFilter | orderBy: $ctrl.customSort:$ctrl.reverse" class="row">
  <div class="col-md-12">
    <div class="well">
      <div class="media-left">
        <img class="media-object" ng-src="{{post.item_image}}">
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          {{post.title}}
        </h4>
        <div class="text-right">
          ${{post.price}}
        </div>
        <p>
          {{post.description}}
        </p>
        <div>
        </div>
        <div>
          <p><a class="btn btn-info" ng-click="$ctrl.showEdit(post)">Edit Ad</a>
          <a class="btn btn-danger" ng-click="$ctrl.deleteAd(post)">Delete</a></p>
        </div>
        <div ng-if='post.show' class="row">
          <div class="col-md-offset-1">
            <form name="postEdit" class="form-inline" ng-submit="$ctrl.editPost(post)">
              <div>
                <label for="title">Title</label>
                <input ng-model="post.title" id="title" class="form-control" required>
              </div>
              <div>
                <label for="description">Description</label>
                <textarea ng-model="post.description" id="descirption" class="form-control" required></textarea>
              </div>
              <div>
                <label for="price">Price</label>
                <input ng-model="post.price" id="author" class="form-control" required>
              </div>
              <div>
                <label for="image-url">Image URL</label>
                <input ng-model="post.item_image" id="image-url" class="form-control" required>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="postEdit.$invalid || postEdit.$pending">
                  Post Edit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
